<tr>
	<td style="white-space: nowrap"><%= pitcher.name + " (" + pitcher.throwhand + ")"%></td>
	<td bgcolor="#DC143C"><%= getleft(pitcher.throwhand, same, diff) %></td>
	<td bgcolor="#DC143C"><%= getright(pitcher.throwhand, same, diff) %></td>
	<td colspan="5", bgcolor="#7FFFD4"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.LD_L, pitcher.LD_R) %></td>
	<td colspan="5", bgcolor="#7FFFD4"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.WHIP_L, pitcher.WHIP_R) %></td>
	<td colspan="5" bgcolor="#EA8DFE"></td>


	<td colspan="3" bgcolor="#6495ED"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.IP_next_L, pitcher.IP_next_R) %></td>
	<td colspan="3" bgcolor="#D3D3D3"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.xFIP_next_L, pitcher.xFIP_next_R) %></td>
	<td colspan="2" bgcolor="#D3D3D3"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.KBB_next_L, pitcher.KBB_next_R) %></td>
	<td colspan="3" bgcolor="#D3D3D3"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.wOBA_next_L, pitcher.wOBA_next_R).to_i %></td>


	<td colspan="3" bgcolor="#6495ED"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.IP_previous_L, pitcher.IP_previous_R) %></td>
	<td colspan="3" bgcolor="#FFF8DC"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.xFIP_previous_L, pitcher.xFIP_previous_R) %></td>
	<td colspan="2" bgcolor="#FFF8DC"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.KBB_previous_L, pitcher.KBB_previous_R) %></td>
	<td colspan="3" bgcolor="#FFF8DC"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.wOBA_previous_L, pitcher.wOBA_previous_R).to_i %></td>
	<td colspan="3" bgcolor="#6495ED"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.IP_L, pitcher.IP_R) %></td>
	<td colspan="3" bgcolor="#FF7F00"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.xFIP_L, pitcher.xFIP_R) %></td>
	<td colspan="2" bgcolor="#FF7F00"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.KBB_L, pitcher.KBB_R) %></td>
	<td colspan="3" bgcolor="#FF7F00"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.wOBA_L, pitcher.wOBA_R).to_i %></td>
	<td colspan="2" bgcolor="#DC143C"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.GB_next_L, pitcher.GB_next_R) %></td>
	<td colspan="2" bgcolor="#DC143C"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.GB_L, pitcher.GB_R) %></td>
	<td colspan="2" bgcolor="#DC143C"><%= gethandedstat(pitcher.throwhand, same, diff, pitcher.GB_previous_L, pitcher.GB_previous_R) %></td>
</tr>