<tr>
	<td><%= hitter.name %></td>
	<td><%= hitter.BO %></td>
	<td><%= hitter.PA %></td>
	<td><%= hitter.H %></td>
	<td><%= hitter.HR %></td>
	<td><%= hitter.R %></td>
	<td><%= hitter.RBI %></td>
	<td><%= hitter.BB %></td>
	<td><%= hitter.SO %></td>
	<td><%= hitter.wOBA %></td>
	<td><%= hitter.pLI %></td>
	<td><%= hitter.WPA %></td>
</tr>