<tbody class="<%= hitter_class(hitter)%>">
	<tr>
		<td><%= hitter_total_lineup(hitter) %></td>
		<td><%= hitter.wOBA_L %></td>
		<td><%= hitter.OPS_L %></td>
		<td><%= hitter.AB_L %></td>
		<td><%= hitter.SO_L %></td>
		<td><%= hitter.BB_L %></td>
		<td><%= hitter.FB_L %></td>
		<td><%= hitter.GB_L %></td>
		<td><%= hitter.LD_L %></td>
		<td><%= hitter.wOBA_14 %></td>
		<td><%= hitter.OPS_14 %></td>
		<td><%= hitter.AB_14 %></td>
		<td><%= hitter.SO_14 %></td>
		<td><%= hitter.BB_14 %></td>
		<td><%= hitter.FB_14 %></td>
		<td><%= hitter.GB_14 %></td>
		<td><%= hitter.LD_14 %></td>
		<td><%= hitter.wOBA_previous_L %></td>
		<td><%= hitter.OPS_previous_L %></td>
		<td><%= hitter.AB_previous_L %></td>
		<td><%= hitter.SO_previous_L %></td>
		<td><%= hitter.BB_previous_L %></td>
		<td><%= hitter.FB_previous_L %></td>
		<td><%= hitter.GB_previous_L %></td>
		<td><%= hitter.LD_previous_L %></td>
		<td><%= hitter.wRC_L %></td>
		<td><%= hitter.AB_L %></td>
		<td><%= hitter.wRC_14 %></td>
		<td><%= hitter.AB_14 %></td>
		<td><%= hitter.wRC_previous_L %></td>
		<td><%= hitter.AB_previous_L %></td>
	</tr>
</tbody>