<tr>
	<td><%= pitcher.name + " " + pitcher.throwhand %></td>
	<td align="center", bgcolor="#7FFFD4"><%= pitcher.LD_L %></td>
	<td align="center", bgcolor="#7FFFD4"><%= pitcher.LD_R %></td>
	<td align="center", bgcolor="#7FFFD4"><%= pitcher.WHIP_L %></td>
	<td align="center", bgcolor="#7FFFD4"><%= pitcher.WHIP_R %></td>
	<td align="center", bgcolor="#7FFFD4"><%= pitcher.IP_L %></td>
	<td align="center", bgcolor="#7FFFD4"><%= pitcher.IP_R %></td>
	<td align="center", bgcolor="#7FFFD4"><%= pitcher.SO_L %></td>
	<td align="center", bgcolor="#7FFFD4"><%= pitcher.SO_R %></td>
	<td align="center", bgcolor="#7FFFD4"><%= pitcher.BB_L %></td>
	<td align="center", bgcolor="#7FFFD4"><%= pitcher.BB_R %></td>
	<td align="center", bgcolor="#EA8DFE"><%= pitcher.LD_30 %></td>
	<td align="center", bgcolor="#EA8DFE"><%= pitcher.WHIP_30 %></td>
	<td align="center", bgcolor="#EA8DFE"><%= pitcher.IP_30 %></td>
	<td align="center", bgcolor="#EA8DFE"><%= pitcher.SO_30 %></td>
	<td align="center", bgcolor="#EA8DFE"><%= pitcher.BB_30 %></td>
	<td align="center", bgcolor="#FFF8DC"><%= pitcher.FIP_previous %></td>
	<td align="center", bgcolor="#6495ED"><%= pitcher.FB_previous_L %></td>
	<td align="center", bgcolor="#FFF8DC"><%= pitcher.xFIP_previous_L %></td>
	<td align="center", bgcolor="#FFF8DC"><%= pitcher.KBB_previous_L %></td>
	<td align="center", bgcolor="#FFF8DC"><%= pitcher.wOBA_previous_L %></td>
	<td align="center", bgcolor="#6495ED"><%= pitcher.FB_previous_R %></td>
	<td align="center", bgcolor="#FFF8DC"><%= pitcher.xFIP_previous_R %></td>
	<td align="center", bgcolor="#FFF8DC"><%= pitcher.KBB_previous_R %></td>
	<td align="center", bgcolor="#FFF8DC"><%= pitcher.wOBA_previous_R %></td>
	<td align="center", bgcolor="#FF7F00"><%= pitcher.FIP %></td>
	<td align="center", bgcolor="#6495ED"><%= pitcher.FB_L %></td>
	<td align="center", bgcolor="#FF7F00"><%= pitcher.xFIP_L %></td>
	<td align="center", bgcolor="#FF7F00"><%= pitcher.KBB_L %></td>
	<td align="center", bgcolor="#FF7F00"><%= pitcher.wOBA_L %></td>
	<td align="center", bgcolor="#6495ED"><%= pitcher.FB_R %></td>
	<td align="center", bgcolor="#FF7F00"><%= pitcher.xFIP_R %></td>
	<td align="center", bgcolor="#FF7F00"><%= pitcher.KBB_R %></td>
	<td align="center", bgcolor="#FF7F00"><%= pitcher.wOBA_R %></td>
</tr>