<tr>
	<td><%= pitcher.name %></td>
	<td><%= pitcher.IP %></td>
	<td><%= pitcher.TBF %></td>
	<td><%= pitcher.H %></td>
	<td><%= pitcher.HR %></td>
	<td><%= pitcher.ER %></td>
	<td><%= pitcher.BB %></td>
	<td><%= pitcher.SO %></td>
	<td><%= pitcher.FIP %></td>
	<td><%= pitcher.pLI %></td>
	<td><%= pitcher.WPA %></td>
</tr>