<tr>
	<td><%= hitter.lineup.to_s + ". " + hitter.name + " " + hitter.throwhand %></td>
	<td bgcolor="#7FFFD4"><%= hitter.wOBA_R %></td>
	<td bgcolor="#7FFFD4"><%= hitter.OBP_R %></td>
	<td bgcolor="#7FFFD4"><%= hitter.SLG_R %></td>
	<td bgcolor="#7FFFD4"><%= hitter.AB_R %></td>
	<td bgcolor="#7FFFD4"><%= hitter.BB_R %></td>
	<td bgcolor="#7FFFD4"><%= hitter.SB_R %></td>
	<td bgcolor="#7FFFD4"><%= hitter.SO_R %></td>
	<td bgcolor="#7FFFD4"><%= hitter.LD_R %></td>
	<td bgcolor="#EA8DFE"><%= hitter.wOBA_14%></td>
	<td bgcolor="#EA8DFE"><%= hitter.OBP_14 %></td>
	<td bgcolor="#EA8DFE"><%= hitter.SLG_14 %></td>
	<td bgcolor="#EA8DFE"><%= hitter.AB_14 %></td>
	<td bgcolor="#EA8DFE"><%= hitter.BB_14 %></td>
	<td bgcolor="#EA8DFE"><%= hitter.SB_14 %></td>
	<td bgcolor="#EA8DFE"><%= hitter.SO_14 %></td>
	<td bgcolor="#EA8DFE"><%= hitter.LD_14 %></td>
	<td bgcolor="#FFF8DC"><%= hitter.wOBA_previous_R %></td>
	<td bgcolor="#FFF8DC"><%= hitter.OBP_previous_R %></td>
	<td bgcolor="#FFF8DC"><%= hitter.SLG_previous_R %></td>
	<td bgcolor="#FFF8DC"><%= hitter.AB_previous_R %></td>
	<td bgcolor="#FFF8DC"><%= hitter.BB_previous_R %></td>
	<td bgcolor="#FFF8DC"><%= hitter.SB_previous_R %></td>
	<td bgcolor="#FFF8DC"><%= hitter.SO_previous_R %></td>
	<td bgcolor="#FFF8DC"><%= hitter.LD_previous_R %></td>
	<td bgcolor="#FF7F00"><%= hitter.wRC_R %></td>
	<td bgcolor="#FF7F00"><%= hitter.wRC_14 %></td>
	<td bgcolor="#FF7F00"><%= hitter.wRC_previous_R %></td>
</tr>