<tbody class="<%= hitter_class(hitter)%>">
	<tr>
		<td><%= hitter_total_lineup(hitter) %></td>
		<td><%= hitter.wOBA_R %></td>
		<td><%= hitter.OBP_R %></td>
		<td><%= hitter.SLG_R %></td>
		<td><%= hitter.AB_R %></td>
		<td><%= hitter.BB_R %></td>
		<td><%= hitter.SB_R %></td>
		<td><%= hitter.SO_R %></td>
		<td><%= hitter.LD_R %></td>
		<td><%= hitter.wOBA_14%></td>
		<td><%= hitter.OBP_14 %></td>
		<td><%= hitter.SLG_14 %></td>
		<td><%= hitter.AB_14 %></td>
		<td><%= hitter.BB_14 %></td>
		<td><%= hitter.SB_14 %></td>
		<td><%= hitter.SO_14 %></td>
		<td><%= hitter.LD_14 %></td>
		<td><%= hitter.wOBA_previous_R %></td>
		<td><%= hitter.OBP_previous_R %></td>
		<td><%= hitter.SLG_previous_R %></td>
		<td><%= hitter.AB_previous_R %></td>
		<td><%= hitter.BB_previous_R %></td>
		<td><%= hitter.SB_previous_R %></td>
		<td><%= hitter.SO_previous_R %></td>
		<td><%= hitter.LD_previous_R %></td>
		<td><%= hitter.wRC_R %></td>
		<td><%= hitter.wRC_14 %></td>
		<td><%= hitter.wRC_previous_R %></td>
	</tr>
</tbody>