<table id="margin">
	<tr>
		<th colspan="6"> <%= @home_team.stadium + ' ' + @home_team.zipcode.to_s %> </th>
	</tr>
	<tr>
		<th colspan="6"> <%= 'Accuweather Forecast'%> </th>
	</tr>
	<tr class="header">
		<th>Weather</th>
		<th>Temperature</th>
		<th>Wind</th>
		<th>Pressure</th>
		<th>Humidity</th>
		<th>Precipitation</th>
	</tr>
	<tr>
		<td><%= format_time(@game.time, 0) %></td>
		<td align="center"><%= @game.temperature_1 %></td>
		<td align="center"><%= @game.wind_1 %></td>
		<td align="center"><%= @game.pressure_1 %></td>
		<td align="center"><%= @game.humidity_1 %></td>
		<td align="center"><%= @game.precipitation_1 %></td>
	</tr>
	<tr>
		<td><%= format_time(@game.time, 1) %></td>
		<td align="center"><%= @game.temperature_2 %></td>
		<td align="center"><%= @game.wind_2 %></td>
		<td align="center"><%= @game.pressure_2 %></td>
		<td align="center"><%= @game.humidity_2 %></td>
		<td align="center"><%= @game.precipitation_2 %></td>
	</tr>
	<tr>
		<td><%= format_time(@game.time, 2) %></td>
		<td align="center"><%= @game.temperature_3 %></td>
		<td align="center"><%= @game.wind_3 %></td>
		<td align="center"><%= @game.pressure_3 %></td>
		<td align="center"><%= @game.humidity_3 %></td>
		<td align="center"><%= @game.precipitation_3 %></td>
	</tr>
</table>