<table>
  <caption>Accuweather Weather Forecast</caption>
  <thead>
	<tr>
	  <th colspan="6"> <%= @home_team.stadium + ' ' + @home_team.zipcode.to_s %> </th>
	</tr>
	<tr>
	  <th>Weather</th>
	  <th>Temperature</th>
	  <th>Wind</th>
	  <th>Pressure</th>
	  <th>Humidity</th>
	  <th>Precipitation</th>
	</tr>
  </thead>
  <tbody>
  	<tr>
	  <td><%= format_time(@game.time, 0) %></td>
	  <td><%= @game.temperature_1 %></td>
	  <td><%= @game.wind_1 %></td>
	  <td><%= @game.pressure_1 %></td>
	  <td><%= @game.humidity_1 %></td>
	  <td><%= @game.precipitation_1 %></td>
	</tr>
	<tr>
	  <td><%= format_time(@game.time, 1) %></td>
	  <td><%= @game.temperature_2 %></td>
	  <td><%= @game.wind_2 %></td>
	  <td><%= @game.pressure_2 %></td>
	  <td><%= @game.humidity_2 %></td>
	  <td><%= @game.precipitation_2 %></td>
	</tr>
	<tr>
	  <td><%= format_time(@game.time, 2) %></td>
	  <td><%= @game.temperature_3 %></td>
	  <td><%= @game.wind_3 %></td>
	  <td><%= @game.pressure_3 %></td>
  	  <td><%= @game.humidity_3 %></td>
	  <td><%= @game.precipitation_3 %></td>
	</tr>
  </tbody>
</table>