<!DOCTYPE html>
<html>

	<head>
  		<title><%= @away.name + " @ " + @home.name %></title>
  		<%= stylesheet_link_tag('application') %>
	</head>

	<body>
		<%= image_tag("#{@home.id}.png", :height => '400', :width => '800', :align => 'right') %>
	</br>

		<h2><%= @away.name  + " @ " + @home.name %></h2>
		<%= link_to('Home Page', {:controller => 'index', :action => 'home'})%></br>
		<%= link_to(@date + ' Matchups', {:controller => 'index', :action => 'game', :year => params[:year], :month => params[:month], :day => params[:day]}) %></br>


	<table>
		<tr>
			<th>Boxscore</th>
			<% @innings.each do |inning| %>
				<th><%= inning %></th>
			<% end %>
		</tr>
		<tr>
			<th><%= @away.name%></th>
			<% @away_score.each do |inning| %>
				<td><%= inning %></td>
			<% end %>
		</br>
		</tr>
		<tr>
			<th><%= @home.name%></th>
			<% @home_score.each do |inning| %>
				<td><%= inning %></td>
			<% end %>
		</tr>
	</table>


	<h2><%= "Gametime: " + @game.time + ' Local Time' %></h2>

	<% if !@tomorrow_bool %>

		<h3><%= "Umpire: " + @game.ump %></h3>

		<%= render(:partial => "weather")%>

	<% end %>

	<table>
		<tr>
			<th colspan="39"><%= "Starting Pitchers" %></th>
		</tr>
		<%= render(:partial => "pitcherheader") %>

		<% @away_pitchers.each do |pitcher| %>
			<%= render(:partial => "pitcher", :locals => {:pitcher => pitcher}) %>
		<% end %>

		<% @home_pitchers.each do |pitcher| %>
			<%= render(:partial => "pitcher", :locals => {:pitcher => pitcher}) %>
		<% end %>

		<tr>
			<% if @away_projected %>
				<th colspan="28" bgcolor="#DC143C"><%= @away.name + " Projected Starting Lineup" %></th>
			<% else %>
				<th colspan="28"><%= @away.name + " Starting Lineup" %></th>
			<% end %>
		</tr>

		<% if @away_left %>
			<%= render(:partial => "lefthitterheader") %>
		<% else %>
			<%= render(:partial => "righthitterheader") %>
		<% end %>

		<% @away_hitters.each do |hitter| %>
			<% if @away_left %>
				<%= render(:partial => "lefthitter", :locals => {:hitter => hitter}) %>
			<% else %>
				<%= render(:partial => "righthitter", :locals => {:hitter => hitter}) %>
			<% end %>
		<% end %>

		<tr>
			<% if @home_projected %>
				<th colspan="28" bgcolor="#DC143C"><%= @home.name + " Projected Starting Lineup" %></th>
			<% else %>
				<th colspan="28"><%= @home.name + " Starting Lineup" %></th>
			<% end %>
		</tr>

		<% if @home_left %>
			<%= render(:partial => "lefthitterheader") %>
		<% else %>
			<%= render(:partial => "righthitterheader") %>
		<% end %>

		<% @home_hitters.each do |hitter| %>
			<% if @home_left %>
				<%= render(:partial => "lefthitter", :locals => {:hitter => hitter}) %>
			<% else %>
				<%= render(:partial => "righthitter", :locals => {:hitter => hitter}) %>
			<% end %>
		<% end %>

		<% if !@tomorrow_bool %>
			<table>
				<tr>
					<th colspan="37"><%= @away.name + " Bullpen"%></th>
				</tr>
				<%= render(:partial => "bullpenpitchingheader") %>
				<% @away_bullpen_pitchers.each do |pitcher| %>
					<%= render(:partial => "bullpenpitching", :locals => {:pitcher => pitcher}) %>
				<% end %>
			</table>

			<table>
				<tr>
					<th colspan="37"><%= @home.name + " Bullpen"%></th>
				</tr>
				<%= render(:partial => "bullpenpitchingheader") %>
				<% @home_bullpen_pitchers.each do |pitcher| %>
					<%= render(:partial => "bullpenpitching", :locals => {:pitcher => pitcher}) %>
				<% end %>
			</table>
		<% end %>
	</body>
</html>