<!DOCTYPE html>
<html>

	<head>
  		<title><%= @away_team.name + " @ " + @home_team.name %></title>
  		<%= stylesheet_link_tag('application') %>
	</head>

	<body>
		<%= image_tag("#{@home_team.id}.png", :height => '400', :width => '800', :align => 'right') %>
	</br>

		<h2><%= @away_team.name %> <i><%= @game.away_money_line + ' ' + @game.away_total %> </i></h2>
		<h2><%= "@ " + @home_team.name %> <i><%= @game.home_money_line + ' ' + @game.home_total %></i></h2>
		<%= link_to('Home Page', {:controller => 'index', :action => 'home'})%></br>
		<%= link_to(@date + ' Matchups', {:controller => 'index', :action => 'game', :year => params[:year], :month => params[:month], :day => params[:day]}) %></br></br>


	<table>
		<tr>
			<th>Test Innings</th>
			<% @innings.each do |inning| %>
				<th><%= inning %></th>
			<% end %>
		</tr>
		<tr>
			<th><%= @away_team.name%></th>
			<% @away_score.each do |inning| %>
				<td><%= inning %></td>
			<% end %>
		</tr>
		<tr>
			<th><%= @home_team.name%></th>
			<% @home_score.each do |inning| %>
				<td><%= inning %></td>
			<% end %>
		</tr>
	</table>


	<h2><%= "Gametime: " + @game.time + ' Local Time' %></h2>

	<% unless @tomorrow_bool %>

		<h3><%= "Umpire    : " + @game.ump %></h3>
		
	<% end %>

		<%= render(:partial => "weather_forecast")%>
		<%= render(:partial => "weather")%>


	<table>
		<tr>
			<th colspan="43"><%= "Starting Pitchers" %></th>
		</tr>
		<%= render(:partial => "pitcherheader") %>

		<% if @away_pitcher %>
			<%= render(:partial => "pitcher", :locals => {:pitcher => @away_pitcher}) %>
		<% end %>

		<% if @home_pitcher %>
			<%= render(:partial => "pitcher", :locals => {:pitcher => @home_pitcher}) %>
		<% end %>

		<tr>
			<% if @away_projected %>
				<th colspan="28" bgcolor="#DC143C"><%= @away_team.name + " Projected Starting Lineup" %></th>
			<% else %>
				<th colspan="28"><%= @away_team.name + " Starting Lineup" %></th>
			<% end %>
		</tr>

		<% if @away_left %>
			<%= render(:partial => "lefthitterheader") %>
		<% else %>
			<%= render(:partial => "righthitterheader") %>
		<% end %>

		<% @away_starting_hitters.each do |hitter| %>
			<% if @away_left %>
				<%= render(:partial => "lefthitter", :locals => {:hitter => hitter}) %>
			<% else %>
				<%= render(:partial => "righthitter", :locals => {:hitter => hitter}) %>
			<% end %>
		<% end %>

		<tr>
			<% if @home_projected %>
				<th colspan="28" bgcolor="#DC143C"><%= @home_team.name + " Projected Starting Lineup" %></th>
			<% else %>
				<th colspan="28"><%= @home_team.name + " Starting Lineup" %></th>
			<% end %>
		</tr>

		<% if @home_left %>
			<%= render(:partial => "lefthitterheader") %>
		<% else %>
			<%= render(:partial => "righthitterheader") %>
		<% end %>

		<% @home_starting_hitters.each do |hitter| %>
			<% if @home_left %>
				<%= render(:partial => "lefthitter", :locals => {:hitter => hitter}) %>
			<% else %>
				<%= render(:partial => "righthitter", :locals => {:hitter => hitter}) %>
			<% end %>
		<% end %>

		<% if @today_bool %>
			<tr>
				<th colspan="28"><%= @away_team.name + " Bench" %></th>
			</tr>
			<% if @away_left %>
				<%= render(:partial => "lefthitterheader") %>
			<% else %>
				<%= render(:partial => "righthitterheader") %>
			<% end %>

			<% @away_bench_hitters.each do |hitter| %>
				<% if @away_left %>
					<%= render(:partial => "lefthitter", :locals => {:hitter => hitter}) %>
				<% else %>
					<%= render(:partial => "righthitter", :locals => {:hitter => hitter}) %>
				<% end %>
			<% end %>
		<% end %>

		<% if @today_bool %>
			<tr>
				<th colspan="28"><%= @home_team.name + " Bench" %></th>
			</tr>
			<% if @home_left %>
				<%= render(:partial => "lefthitterheader") %>
			<% else %>
				<%= render(:partial => "righthitterheader") %>
			<% end %>

			<% @home_bench_hitters.each do |hitter| %>
				<% if @home_left %>
					<%= render(:partial => "lefthitter", :locals => {:hitter => hitter}) %>
				<% else %>
					<%= render(:partial => "righthitter", :locals => {:hitter => hitter}) %>
				<% end %>
			<% end %>
		<% end %>

		<% unless @tomorrow_bool %>
			<table>
				<tr>
					<th colspan="41"><%= @away_team.name + " Bullpen"%></th>
				</tr>
				<%= render(:partial => "bullpenpitchingheader") %>
				<% @away_bullpen_pitchers.each do |pitcher| %>
					<%= render(:partial => "bullpenpitching", :locals => {:pitcher => pitcher}) %>
				<% end %>
			</table>

			<table>
				<tr>
					<th colspan="41"><%= @home_team.name + " Bullpen"%></th>
				</tr>
				<%= render(:partial => "bullpenpitchingheader") %>
				<% @home_bullpen_pitchers.each do |pitcher| %>
					<%= render(:partial => "bullpenpitching", :locals => {:pitcher => pitcher}) %>
				<% end %>
			</table>
		<% end %>

		<table style="display: inline-block; margin: 60px;">
			<%= render(:partial => "hitterboxscoreheader", :locals => {:team => @away_team})%>
			<% @away_hitting_boxscores.each do |hitter| %>
				<%= render(:partial => "hitterboxscore", :locals => {:hitter => hitter}) %>
			<% end %>
		</table>

		<table style="display: inline-block; margin: 60px;">
			<%= render(:partial => "hitterboxscoreheader", :locals => {:team => @home_team})%>
			<% @home_hitting_boxscores.each do |hitter| %>
				<%= render(:partial => "hitterboxscore", :locals => {:hitter => hitter}) %>
			<% end %>
		</table>

		<table style="display: inline-block; margin: 60px;">
			<%= render(:partial => "pitcherboxscoreheader", :locals => {:team => @away_team})%>
			<% @away_pitching_boxscores.each do |pitcher| %>
				<%= render(:partial => "pitcherboxscore", :locals => {:pitcher => pitcher}) %>
			<% end %>
		</table>

		<table style="display: inline-block; margin: 60px;">
			<%= render(:partial => "pitcherboxscoreheader", :locals => {:team => @home_team})%>
			<% @home_pitching_boxscores.each do |pitcher| %>
				<%= render(:partial => "pitcherboxscore", :locals => {:pitcher => pitcher}) %>
			<% end %>
		</table>



	</body>
</html>