<!DOCTYPE html>
<html>

	<head>
  		<title><%= @away_team.name + " @ " + @home_team.name %></title>
  		<%= stylesheet_link_tag('application') %>
	</head>

	<body>
		<%= image_tag("#{@home_team.id}.png", :height => '400', :width => '800', :align => 'right') %>
	</br>

		<h2><%= @away_team.name %> <i><%= @game.away_money_line + ' ' + @game.away_total %> </i></h2>
		<h2><%= "@ " + @home_team.name %> <i><%= @game.home_money_line + ' ' + @game.home_total %></i></h2>
		<%= link_to('Home Page', {:controller => 'index', :action => 'home'})%></br>
		<%= link_to(@date + ' Matchups', {:controller => 'index', :action => 'game', :year => params[:year], :month => params[:month], :day => params[:day]}) %></br></br>

	<table>
		<tr>
			<th>Innings</th>
			<% @innings.each do |inning| %>
				<th><%= inning %></th>
			<% end %>
		</tr>
		<tr>
			<th><%= @away_team.name%></th>
			<% @away_score.each do |inning| %>
				<td><%= inning %></td>
			<% end %>
		</tr>
		<tr>
			<th><%= @home_team.name%></th>
			<% @home_score.each do |inning| %>
				<td><%= inning %></td>
			<% end %>
		</tr>
	</table>


	<h2><%= "Gametime: " + @game.time + ' Local Time' %></h2>

    <% unless @tomorrow_bool %>
		<h3><%= "Umpire    : " + @game.ump %></h3>
	<% end %>

	<%= render(:partial => "weather_forecast")%>
	<%= render(:partial => "weather")%>
		



	<table>

		<%= render partial: "lineupheader", locals: { header: "Starting Pitchers", colspan: "57" }%>
		<%= render(:partial => "handedpitcher", :locals => { pitcher: @away_pitcher, same: @away_pitcher_same, diff: @away_pitcher_diff }) %>
		<%= render(:partial => "handedpitcher", :locals => { pitcher: @home_pitcher, same: @home_pitcher_same, diff: @home_pitcher_diff }) %>

		<%= render(:partial => "handedpitcherheader") %>
		<%= render(:partial => "pitcherheader") %>

		<% if @away_pitcher %>
			<%= render(:partial => "pitcher", locals: { pitcher: @away_pitcher, same: @away_pitcher_same, diff: @away_pitcher_diff }) %>
		<% end %>

		<% if @home_pitcher %>
			<%= render(:partial => "pitcher", locals: { pitcher: @home_pitcher, same: @home_pitcher_same, diff: @home_pitcher_diff }) %>
		<% end %>

		
		<%= render partial: "lineupheader", locals: { header: @away_team.name + " " + projected?(@away_projected) + " Starting Lineup", colspan: "31", projected: projected?(@away_projected).downcase }%>

		<%= render(:partial => "hitterheader", locals: { away: @away_left }) %>

		<% @away_starting_hitters.each do |hitter| %>
			<% if @away_left %>
				<%= render(:partial => "lefthitter", :locals => { :hitter => hitter }) %>
			<% else %>
				<%= render(:partial => "righthitter", :locals => { :hitter => hitter }) %>
			<% end %>
		<% end %>

		<%= render partial: "lineupheader", locals: { header: @home_team.name + " " projected?(@home_projected) + " Starting Lineup", colspan: "31", projected: projected?(@home_projected).downcase }%>

		<%= render(:partial => "hitterheader", locals: { away: @away_left }) %>

		<% @home_starting_hitters.each do |hitter| %>
			<% if @home_left %>
				<%= render(:partial => "lefthitter", :locals => { :hitter => hitter }) %>
			<% else %>
				<%= render(:partial => "righthitter", :locals => { :hitter => hitter }) %>
			<% end %>
		<% end %>

		<% if @today_bool %>
			<%= render partial: "lineupheader", locals: { header: @away_team.name + " Bench", colspan: "31" }%>
			<%= render(partial: "hitterheader", locals: { away: @away_left }) %>

			<% @away_bench_hitters.each do |hitter| %>
				<% if @away_left %>
					<%= render(:partial => "lefthitter", :locals => {:hitter => hitter}) %>
				<% else %>
					<%= render(:partial => "righthitter", :locals => {:hitter => hitter}) %>
				<% end %>
			<% end %>
		<% end %>

		<% if @today_bool %>
			<%= render partial: "lineupheader", locals: { header: @home_team.name + " Bench", colspan: "31" }%>
			<%= render(:partial => "hitterheader", locals: { away: @away_left }) %>

			<% @home_bench_hitters.each do |hitter| %>
				<% if @home_left %>
					<%= render(:partial => "lefthitter", :locals => {:hitter => hitter}) %>
				<% else %>
					<%= render(:partial => "righthitter", :locals => {:hitter => hitter}) %>
				<% end %>
			<% end %>
		<% end %>

		<% unless @tomorrow_bool %>
			<table>
				<%= render partial: "lineupheader", locals: { header: @away_team.name + " Bullpen", colspan: "43" }%>
				<%= render(:partial => "bullpenpitchingheader") %>
				<% @away_bullpen_pitchers.each do |pitcher| %>
					<%= render(:partial => "bullpenpitching", :locals => {:pitcher => pitcher}) %>
				<% end %>
			</table>

			<table>
				<%= render partial: "lineupheader", locals: { header: @home_team.name + " Bullpen", colspan: "43" }%>
				<%= render(:partial => "bullpenpitchingheader") %>
				<% @home_bullpen_pitchers.each do |pitcher| %>
					<%= render(:partial => "bullpenpitching", :locals => {:pitcher => pitcher}) %>
				<% end %>
			</table>
		<% end %>

		<table style="display: inline-block; margin: 60px;">
			<%= render(:partial => "hitterboxscoreheader", :locals => {:team => @away_team})%>
			<% @away_hitting_boxscores.each do |hitter| %>
				<%= render(:partial => "hitterboxscore", :locals => {:hitter => hitter}) %>
			<% end %>
		</table>

		<table style="display: inline-block; margin: 60px;">
			<%= render(:partial => "hitterboxscoreheader", :locals => {:team => @home_team})%>
			<% @home_hitting_boxscores.each do |hitter| %>
				<%= render(:partial => "hitterboxscore", :locals => {:hitter => hitter}) %>
			<% end %>
		</table>

		<table style="display: inline-block; margin: 60px;">
			<%= render(:partial => "pitcherboxscoreheader", :locals => {:team => @away_team})%>
			<% @away_pitching_boxscores.each do |pitcher| %>
				<%= render(:partial => "pitcherboxscore", :locals => {:pitcher => pitcher}) %>
			<% end %>
		</table>

		<table style="display: inline-block; margin: 60px;">
			<%= render(:partial => "pitcherboxscoreheader", :locals => {:team => @home_team})%>
			<% @home_pitching_boxscores.each do |pitcher| %>
				<%= render(:partial => "pitcherboxscore", :locals => {:pitcher => pitcher}) %>
			<% end %>
		</table>



	</body>
</html>