<div class="header">
	<h1><%= @away_team.name + " @ " + @home_team.name %></h1>
	<h2><%= 'Odds: ' + @game.away_money_line + ' @ ' + @game.home_money_line   %></h2>
	<h2><%= 'Totals: ' + @game.away_total + ' @ ' + @game.home_total %></h2>
	<h3><%= "Gametime: " + @game.time + ' Local Time' %></h3>
</div>

<nav>
  <ul>
	  <li><%= link_to('Home Page', { controller: 'index', action: 'home'})%></li>
	  <li><%= link_to(@date + ' Matchups', 
	  { controller: 'index', action: 'game',
	  year: params[:year], month: params[:month], day: params[:day] }) %>
    </li>
  </ul>
</nav>

<%= image_tag(@image_url, :width => '600') %>
<%= render partial: "game/new/weather", locals: { caption: "Accuweather Weather Forecast", weathers: @forecasts } %>
<%= render partial: "game/new/weather", locals: { caption: "Wunderground Weather Records", weathers: @weathers } %>

<%= render partial: "game/new/lancer", locals: { caption: "Starting Pitchers",
							  lancers: @away_starting_lancer + @home_starting_lancer, left: @away_left } %>

<%= render partial: "game/new/batter", locals: { caption: "#{@away_team.name} Batters",
							  batters: @away_batters, left: @away_left } %>
<%= render partial: "game/new/batter", locals: { caption: "#{@home_team.name} Batters",
							  batters: @home_batters, left: @home_left } %>

<%= render partial: "game/new/bullpen", locals: { caption: "#{@away_team.name} Bullpen",
										 lancers: @away_bullpen_lancers }%>

<%= render partial: "game/new/bullpen", locals: { caption: "#{@home_team.name} Bullpen",
										 lancers: @home_bullpen_lancers }%>