<div class="header">
	<h1>Home Page</h1>
</div>

<ul>
	<li><%= link_to 'Teams', 					  { action: 'teams' } %></li>
	<li><%= link_to @yesterday.strftime("%B %e"), { action: 'game', id: GameDay.search(@yesterday).id } %></li>
	<li><%= link_to @today.strftime("%B %e"),     { action: 'game', id: GameDay.search(@today).id } %></li>
	<li><%= link_to @tomorrow.strftime("%B %e"),  { action: 'game', id: GameDay.search(@tomorrow).id } %></li>
	<li><%= link_to 'test', { action: 'game', id: GameDay.search(@tomorrow).id, test: "test"} %></li>
	<li><%= link_to 'History',  				  { action: 'year' } %></li>
	<li><%= link_to 'Logout', 					  { controller: 'access', action: 'logout' } %></li>
</ul>