<!DOCTYPE html>
<html>
	<head>
  		<title><%= @time%> Matchups</title>
	</head>
	<body>

		<div id="header">
			<h2>Years</h2>
		</div>

		<%= link_to('Home Page', {:controller => 'index', :action => 'home'})%></br></br>

		<div id="main">
			<div id="content">
				<%= form_tag({controller: "index", action: "month"}, method: "get") do %>
				  <%= select_tag(:year, options_for_select(@years)) %>
				  <%= submit_tag("Submit") %>
				<% end %>
			</div>
		</div>

		<div id="footer">
			<p id="copyright">&copy; Mike Halioua </p>
		</div>

	</body>
</html>