<td><%= stat.woba %></td>
<td><%= stat.ops %></td>
<td><%= stat.ab %></td>
<td><%= stat.so %></td>
<td><%= stat.bb %></td>
<td><%= stat.fb %></td>
<td><%= stat.gb %></td>
<td><%= stat.ld %></td>
<td><%= stat.tld %></td>