<% lefty = stat.where(handedness: "L").first %>
<% righty = stat.where(handedness: "R").first %>
<% past = stat.where(handedness: "").first %>
<td><%= lefty.ld %></td>
<td><%= righty.ld %></td>
<td><%= lefty.whip %></td>
<td><%= righty.whip %></td>
<td><%= lefty.ip %></td>
<td><%= righty.ip %></td>
<td><%= lefty.so %></td>
<td><%= righty.so %></td>
<td><%= lefty.bb %></td>
<td><%= righty.bb %></td>
<td><%= past.ld %></td>
<td><%= past.whip %></td>
<td><%= past.siera %></td>
<td><%= past.ip %></td>
<td><%= past.so %></td>
<td><%= past.bb %></td>