<% seasons = Season.greater_than(2015) %>
<table class="lancer">
  <caption><%= caption %></caption>
  <thead>
    <th colspan="3">Mixed Stats</th>
    <th colspan="5">LD</th>
    <th colspan="5">WHIP</th>
    <th colspan="6"></th>
    <% seasons.each do |season| %>
      <th colspan="3">xFIP</th>
      <th colspan="3">KBB</th>
      <th colspan="3">OPS+</th>
      <th colspan="3">wOBA</th>
    <% end %>
    <th colspan="6">GB</th>
    <th colspan="6">LD</th>
    <th colspan="6">TLD</th>
  </thead>
  <tbody class="mixed">

    <% lancers.each_with_index do |lancer, index| %>
      <% stats = lancer.view_stats(seasons) %>
      <% lefty, righty = lancer.opposing_batters_handedness %>
      <tr>
        <td class="name"><%= "#{lancer.player.name} (#{lancer.throwhand})" %></td>
        <%= render partial: "game/new/pitcher_handed", locals: { stats: stats, lefty: lefty, righty: righty } %>
      </tr>
    <% end %>

  </tbody>

  <thead>
    <tr>
      <th>Name</th>
      <th>Lefties</th>
      <th>Righties</th>
      <th colspan="10"><%= @season.year %></th>
      <th colspan="6">Last 30 Days</th>
      <% seasons.each do |season| %>
        <th colspan="12"><%= season.year %></th>
      <% end %>
      <% 3.times do %>
        <% seasons.each do |season| %>
          <th colspan="2"><%= season.year %></th>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <th colspan="3">Pitching Stats</th>
      <th>LD LHB</th>
      <th>LD RHB</th>
      <th>WHIP LHB</th>
      <th>WHIP RHB</th>
      <th>IP LHB</th>
      <th>IP RHB</th>
      <th>SO LHB</th>
      <th>SO RHB</th>
      <th>BB LHB</th>
      <th>BB RHB</th>
      <th>LD</th>
      <th>WHIP</th>
      <th>siera</th>
      <th>IP</th>
      <th>SO</th>
      <th>BB</th>
      <% (seasons.size).times do %>
        <th>FIP-</th>
        <th>siera</th>
        <th>IP LHB</th>
        <th>xFIP LHB</th>
        <th>KBB LHB</th>
        <th>OPS+ LHB</th>
        <th>wOBA LHB</th>
        <th>IP RHB</th>
        <th>xFIP RHB</th>
        <th>KBB RHB</th>
        <th>OPS+ RHB</th>
        <th>wOBA RHB</th>
      <% end %>
      <% (seasons.size).times do %>
        <th>GB LHB</th>
        <th>GB RHB</th>
      <% end %>
      <% (seasons.size).times do %>
        <th>LD LHB</th>
        <th>LD RHB</th>
      <% end %>
      <% (seasons.size).times do %>
        <th>TLD LHB</th>
        <th>TLD RHB</th>
      <% end %>

    </tr>
  </thead>

  <tbody class="lancer">
    <% lancers.each_with_index do |lancer, index| %>
      <% stats = lancer.view_stats(seasons) %>
      <% lefty, righty = lancer.opposing_batters_handedness  %>
      <tr>
        <td class="name"><%= "#{lancer.name} (#{lancer.throwhand})" %></td>
        <td><%= lefty %></td>
        <td><%= righty %></td>
        <%= render partial: "game/new/pitcher_begin", locals: { stat: stats.first } %>
        <% stats.each do |stat| %>
          <%= render partial: "game/new/pitcher_stat", locals: { stat: stat } %>
        <% end %>
        <% stats.each do |stat| %>
          <td><%= stat.first.gb %></td>
          <td><%= stat.second.gb %></td>
        <% end %>
        <% stats.each do |stat| %>
          <td><%= stat.first.ld %></td>
          <td><%= stat.second.ld %></td>
        <% end %>
        <% stats.each do |stat| %>
          <td><%= stat.first.tld %></td>
          <td><%= stat.second.tld %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>
