<table class="weather">
  <caption><%= caption %></caption>
  <thead>
  	<tr>
  	  <th>Time</th>
  	  <th>Temperature</th>
  	  <th>Wind</th>
      <th>Dew</th>
  	  <th>Pressure</th>
  	  <th>Humidity</th>
  	  <th>Precipitation</th>
      <th>Air Density</th>
  	</tr>
  </thead>
  <tbody>
    <% weathers.order("hour").each do |weather| %>
    	<tr>
    		<td><%= weather_time(weather.game.time, weather.hour) %></td>
        <td><%= weather.temp %></td>
        <td><%= weather.wind %></td>
        <td><%= weather.dew %></td>
        <td><%= weather.pressure %></td>
        <td><%= weather.humidity %></td>
        <td><%= weather.rain %></td>
        <td><%= weather.air_density unless weather.air_density == 0.0 %></td>
    	</tr>
    <% end %>
  </tbody>
</table>